.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}

.underline-animation.toleft::after {
  transform-origin: bottom right;
}

.underline-animation.toleft:hover::after {
  transform-origin: bottom left;
}

.marquee {
  height: 25px;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
}

.marquee span {
  float: left;
  width: 25%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.Carousel{
  display: flex;
  overflow: hidden;
  position: relative;  
}
.Slide::after{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Adjust height as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  border-radius: 0 0 10px 10px; /* Matches the border-radius of the img */
}
.Slide{
  position: relative;
  width: 100%;
  flex-shrink: 0;
  translate: -100%;
  transition: translate ease-in-out 1s;
  
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
   
  }
  
}

.buybutton{
  transform: translateY(40%);
}
.topcard:hover .buybutton{
  transform: translateY(0%);
  transition: 500ms;
  opacity: 100;
  
}


.gradient{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}